In [4]:
!ls

eval.ipynb           test.csv             train.csv
sampleSubmission.csv test.csv.zip         train.csv.zip

In [5]:
import pandas as pd
import seaborn as sns

In [ ]:
test_df = pd.read_csv('test.csv')
train_df = pd.read_csv('train.csv')
submit_df = pd.read_csv('sampleSubmission.csv')

In [ ]:
train_df.shape

In [7]:
train_df.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [8]:
test_df.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [9]:
submit_df.head()

   Id  Action
0   1       0
1   2       0
2   3       0
3   4       0
4   5       0

In [11]:
train_df.ACTION.value_counts(normalize=True)

1    0.94211
0    0.05789
Name: ACTION, dtype: float64

### Highly imbalanced just ACTION for just 5% is 0

In [13]:
train_df.nunique()

ACTION                 2
RESOURCE            7518
MGR_ID              4243
ROLE_ROLLUP_1        128
ROLE_ROLLUP_2        177
ROLE_DEPTNAME        449
ROLE_TITLE           343
ROLE_FAMILY_DESC    2358
ROLE_FAMILY           67
ROLE_CODE            343
dtype: int64

### All these numerical values are just categorical.

In [ ]:
sns.swarmplot('MGR_ID',data=train_df,hue='ACTION')